{% extends "readme-base.jinja" %}

{% block intro %}
# Bifrost Bridge [DEV VERSION]

Bifrost enables you to emulate a Philips Hue Bridge to control lights, groups
and scenes from [Zigbee2Mqtt](https://www.zigbee2mqtt.io/).

This is the DEVELOPMENT TESTING VERSION.

Please see the regular installation instructions here:

https://github.com/chrivers/bifrost-hassio/tree/master/bifrost
{% endblock %}
